{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>list of products</h1>

        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }} - {{ product.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
