{% extends 'back/base.html.twig' %}

{% block title %}Edit product{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Edit product ✅</h1>
        {% if message is defined %}
            <h2>{{ message.title }}</h2>
            <p>{{ message.description }}</p>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
