{% extends 'back/base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>List of products ✅</h1>

    <a href="{{ path('back_product_create') }}" title="Create product">Create a new product</a>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }} - <a href="{{ path('back_product_edit', {'id': product.id}) }}" title="edit product">Edit</a> - <a href="{{ path('back_product_delete', {'id': product.id}) }}" title="delete product">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('back_product_create') }}" title="Create product">Create a new product</a>
</div>
{% endblock %}
