{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('back_product_index') }}" title="List of product">List of product</a></li>
            <li><a href="{{ path('back_user_index') }}" title="List of user">List of user</a></li>
            <li><a href="{{ path('front_index') }}">Home page</a></li>
            <li><a href="{{ path('app_logout') }}" title="Log out">Log out</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>