{% extends 'back/base.html.twig' %}

{% block title %}List of users{% endblock %}

{% block body %}

    <div class="wrapper">
        <h1>List of products ✅</h1>

        <a href="{{ path('app_register') }}" title="Create user">Create a new user</a>
        <ul>
            {% for user in users %}
                <li>{{ user.email }} - <a href="{{ path('back_user_edit', {'id': user.id}) }}" title="edit user">Edit</a> - <a href="{{ path('back_user_delete', {'id': user.id}) }}" title="delete user">Delete</a></li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_register') }}" title="Create product">Create a new user</a>
    </div>
{% endblock %}
