{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_login') }}" title="log to back-office">login</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('back_user_index') }}" title="List of user">Access admin</a></li>
                <li><a href="{{ path('app_logout') }}" title="Log out">Log out</a></li>
            {% endif %}
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>